.mainWrapper{
    margin: 20px 0px 0px 0px;
    // padding: 20px;
    height: 600px;
    border-radius: 10px;
    // box-shadow: 0px 0px 5px 1px lightgrey;
    overflow: scroll;
}
.mainWrapper::-webkit-scrollbar{
        display:none;
    }