.mainWrapper{
    margin: 20px 0px 0px 0px;
    padding: 20px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px;
    overflow: scroll;
    
    
    

    .myPosts{
        border-radius: 5px;
        padding: 10px;
        background-color: darkgrey;
        color: darkslategrey;
        box-shadow: 0px 0px 10px 1px lightblue, inset 0px 0px 10px 1px lightblue;
    }
}
.mainWrapper::-webkit-scrollbar{
        display:none;
    }