.postPageWrapper{
    margin-top: 10px;
    width: 1150px;
    background-image: linear-gradient(lightblue, white);
    padding: 25px;
    border-radius: 10px;
}
.commentWrapper{

    padding: 15px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 15px 3px;
}
.comment{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
}